:root {
    --primarywhite: #ffffff;
    --rose: #9E6F6D;
    --cream: #fcf7f3;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--rose);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 20px;
    background-color: var(--cream);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/NewHeader.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 95%;
    z-index: 9999;
    border-style:ridge;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primarywhite);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primarywhite);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--rose);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primarywhite);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
 
  /*HERO STYLING */
  .hero {
    background-image: url("../images/NewHeader.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  /*SECTION INTRO-TITLE STYLING*/
  .section-title {
    font-size: 45px;
    border-bottom: 4px dotted;
    color: var(--rose);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--rose);
  }

    /* ABOUT ME STYLING*/

 .intro {
  line-height: 1.7;
  color: var(--rose);
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background-color:var (var(--cream));
}


  /* FOOTER STYLES START */
  footer {
    background: var(--rose);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--primarywhite);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--primarywhite);

  }
  /* END FOOTER STYLES */